<!DOCTYPE html>
<html lang="es-es">
<head>
<meta charset="utf-8"/>
<title>Análisis del estilo de puntuación</title>
<meta
  name="viewport"
  content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover"
/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./style.css"/>

<style>
[v-cloak] {
  display: none !important
}
/* Hide Vue while loading */
</style>
</head>
<body>
<h1>Análisis del estilo de puntuación</h1>

<div id="app">
  <button
    @click="vdComparing = !vdComparing"
  >Comparar con otro autor</button>
  <div style="display: flex;align-items: center;justify-content: center;">
    <analyze :vp-authors="vdAuthors">
    </analyze>
    <analyze
      v-if="vdComparing"
      :vp-authors="vdAuthors"
    >
    </analyze>
  </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js" integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
  type="module"
  src="script.js"
></script>
</body>
</html>
